<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appGroupIdentifier</key>
	<string>group.org.sagebase.BridgeAppSDK</string>
	<key>studyIdentifier</key>
	<string>sample-study</string>
	<key>certificateName</key>
	<string>sample-study</string>
	<key>cacheDaysAhead</key>
	<integer>7</integer>
	<key>cacheDaysBehind</key>
	<integer>3</integer>
	<key>emailForLoginViaExternalId</key>
	<string>bridge-testing@sagebase.org</string>
	<key>newsfeedURL</key>
	<string>https://bridgeappsdk.blogspot.com/feeds/posts/default?alt=rss</string>
	<key>logoImageName</key>
	<string>logo</string>
	<key>appUpdateURL</key>
	<string>https://notsupported.null</string>
	<key>permissionTypes</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>healthKit</string>
			<key>healthKitTypes</key>
			<array>
				<dict>
					<key>profileKey</key>
					<string>gender</string>
					<key>identifier</key>
					<string>HKCharacteristicTypeIdentifierBiologicalSex</string>
				</dict>
				<dict>
					<key>profileKey</key>
					<string>birthdate</string>
					<key>identifier</key>
					<string>HKCharacteristicTypeIdentifierDateOfBirth</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>HKQuantityTypeIdentifierHeight</string>
					<key>profileKey</key>
					<string>height</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>HKQuantityTypeIdentifierBodyMass</string>
					<key>profileKey</key>
					<string>bodyMass</string>
				</dict>
				<string>HKQuantityTypeIdentifierStepCount</string>
			</array>
		</dict>
		<string>notifications</string>
		<string>coremotion</string>
		<string>microphone</string>
	</array>
	<key>schemaMapping</key>
	<array>
		<dict>
			<key>schemaIdentifier</key>
			<string>Trail Making</string>
			<key>schemaRevision</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Mood Survey</string>
			<key>schemaRevision</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Tapping Activity</string>
			<key>schemaRevision</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Voice Activity</string>
			<key>schemaRevision</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Memory Activity</string>
			<key>schemaRevision</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Walking Activity</string>
			<key>schemaRevision</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Medical Survey</string>
			<key>schemaRevision</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>taskMapping</key>
	<array>
		<dict>
			<key>taskIdentifier</key>
			<string>Medical Survey</string>
			<key>resourceName</key>
			<string>MedicalSurvey</string>
			<key>classType</key>
			<string>TrackedDataObjectCollection</string>
		</dict>
		<dict>
			<key>taskIdentifier</key>
			<string>Memory Activity</string>
			<key>resourceName</key>
			<string>Memory</string>
		</dict>
		<dict>
			<key>taskIdentifier</key>
			<string>Mood Survey</string>
			<key>taskType</key>
			<string>moodSurvey</string>
		</dict>
		<dict>
			<key>taskIdentifier</key>
			<string>Trail Making</string>
			<key>taskType</key>
			<string>trailmaking</string>
		</dict>
		<dict>
			<key>taskIdentifier</key>
			<string>Tapping Activity</string>
			<key>resourceName</key>
			<string>Tapping</string>
		</dict>
		<dict>
			<key>taskIdentifier</key>
			<string>Tremor Activity</string>
			<key>resourceName</key>
			<string>Tremor</string>
		</dict>
		<dict>
			<key>taskIdentifier</key>
			<string>Voice Activity</string>
			<key>resourceName</key>
			<string>Voice</string>
		</dict>
		<dict>
			<key>taskIdentifier</key>
			<string>Walking Activity</string>
			<key>resourceName</key>
			<string>Walking</string>
		</dict>
		<dict>
			<key>taskIdentifier</key>
			<string>Combined Task</string>
			<key>resourceName</key>
			<string>CombinedTask</string>
			<key>cancelDisabled</key>
			<true/>
			<key>allowMultipleRun</key>
			<false/>
			<key>scheduleNotification</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
