<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rowItems</key>
	<array>
		<dict>
			<key>iconImage</key>
			<string>about-icon</string>
			<key>details</key>
			<string>About</string>
			<key>title</key>
			<string>About this study</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Instructions</string>
			<key>details</key>
			<string>Instructions</string>
			<key>iconImage</key>
			<string>instructions-icon</string>
		</dict>
		<dict>
			<key>title</key>
			<string>How long will this take?</string>
			<key>details</key>
			<string>How Long</string>
			<key>iconImage</key>
			<string>how-long-icon</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Contact us</string>
			<key>details</key>
			<string>Contact Us</string>
			<key>iconImage</key>
			<string>contact-us-icon</string>
		</dict>
		<dict>
			<key>title</key>
			<string>How do I quit the study?</string>
			<key>details</key>
			<string>Withdrawal</string>
			<key>iconImage</key>
			<string>exit-arrow-icon</string>
		</dict>
	</array>
</dict>
</plist>
