[submodule "BridgeSDK"]
	path = BridgeSDK
	url = https://github.com/Sage-Bionetworks/Bridge-iOS-SDK.git
[submodule "ResearchUXFactory"]
	path = ResearchUXFactory
	url = https://github.com/Sage-Bionetworks/ResearchUXFactory-iOS.git
