<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ResourceProfileTableItem</key>
	<string>SBAResourceProfileTableItem</string>
	<key>HTMLProfileTableItem</key>
	<string>SBAHTMLProfileTableItem</string>
	<key>ProfileItemProfileTableItem</key>
	<string>SBAProfileItemProfileTableItem</string>
	<key>ProfileSection</key>
	<string>SBAProfileSectionObject</string>
	<key>ProfileDataSource</key>
	<string>SBAProfileDataSourceObject</string>
	<key>ProfileManager</key>
	<string>SBAProfileManager</string>
	<key>KeychainProfileItem</key>
	<string>SBAKeychainProfileItem</string>
	<key>UserDefaultsProfileItem</key>
	<string>SBAUserDefaultsProfileItem</string>
	<key>FullNameProfileItem</key>
	<string>SBAFullNameProfileItem</string>
	<key>BirthDateProfileItem</key>
	<string>SBABirthDateProfileItem</string>
	<key>StudyParticipantProfileItem</key>
	<string>SBAStudyParticipantProfileItem</string>
	<key>StudyParticipantCustomAttributesProfileItem</key>
	<string>SBAStudyParticipantCustomAttributesProfileItem</string>
</dict>
</plist>
